<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
  <div class="p-field p-grid">
    <label for="nom" class="p-col-fixed" style="width:100px">Nom</label>
    <div class="p-col">
      <input id="nom" type="text" pInputText formControlName="nom">
      <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="ng-dirty ng-invalid">
        <div *ngIf="nom?.errors.required">Le nom est obligatoire</div>
        <div *ngIf="nom?.errors.minlength">Le nom doit comporter au moins 10 caractères</div>
        <div *ngIf="nom?.errors.maxlength">Le nom doit comporter moins de 100 caractères</div>
      </div>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="description" class="p-col-fixed" style="width:100px">Description</label>
    <div class="p-col">
      <textarea rows="3" cols="30" id="description" type="text" pInputTextarea formControlName="description"></textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="ng-dirty ng-invalid">
        <div *ngIf="description?.errors.required">La description est obligatoire</div>
      </div>
    </div>
  </div>
  <select name="themes" id="theme" formControlName="theme">
    <option value="">Choisissez un theme</option>
    <option *ngFor="let t of themes" value="{{t.id}}">{{t.nom}}</option>
  </select>
  <select name="editeurs" id="editeur" formControlName="editeur">
    <option value="">Choisissez un editeur</option>
    <option *ngFor="let e of editeurs" value="{{e.id}}">{{e.nom}}</option>
  </select>
  <select name="mecaniques" id="mecanique" formControlName="mecanique">
    <option value="">Choisissez une mecanique</option>
    <option *ngFor="let m of mecaniques" value="{{m}}">{{m}}</option>
  </select>
  <div class="p-field p-grid">
    <label for="url_media" class="p-col-fixed" style="width:100px">Url media</label>
    <div class="p-col">
      <input id="url_media" type="url" pInputText formControlName="url_media">
      <div *ngIf="url_media.invalid && (url_media.dirty || url_media.touched)" class="ng-dirty ng-invalid">
        <!-- Possible Validators -->
      </div>
    </div>
  </div>
  <select name="categories" id="categorie" formControlName="categorie">
    <option value="">Choisissez une categorie</option>
    <option *ngFor="let c of categories" value="{{c}}">{{c}}</option>
  </select>
  <div class="p-field p-grid">
    <label for="regles" class="p-col-fixed" style="width:100px">Regles</label>
    <div class="p-col">
      <textarea rows="3" cols="30" id="regles" type="text" pInputTextarea id="regles" type="text"
                formControlName="regles"></textarea>
      <div *ngIf="regles.invalid && (regles.dirty || regles.touched)" class="ng-dirty ng-invalid">
        <div *ngIf="regles?.errors.required">Les regles sont obligatoires</div>
      </div>
    </div>
  </div>
  <select name="langues" id="langue" formControlName="langue">
    <option value="">Choisissez une langue</option>
    <option *ngFor="let l of langues" value="{{l}}">{{l}}</option>
  </select>
  <div class="p-field p-grid">
    <label for="nbJoueurs" class="p-col-fixed" style="width:100px">Nombre de joueur</label>
    <div class="p-col">
      <input id="nbJoueurs" type="number" pInputText formControlName="nbJoueur">
      <div *ngIf="nbJoueur.invalid && (nbJoueur.dirty || nbJoueur.touched)" class="ng-dirty ng-invalid">
        <div *ngIf="nbJoueur?.errors.required">Le nombre de joueur est obligatoire</div>
        <div *ngIf="nbJoueur?.errors.min">Il doit y avoir 2 joueurs minimum</div>
        <div *ngIf="nbJoueur?.errors.max">Il doit y avoir 8 joueurs maximum</div>
      </div>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="ageMin" class="p-col-fixed" style="width:100px">Age minimum</label>
    <div class="p-col">
      <input id="ageMin" type="number" pInputText formControlName="ageMin">
      <div *ngIf="ageMin.invalid && (ageMin.dirty || ageMin.touched)" class="ng-dirty ng-invalid">
        <div *ngIf="ageMin?.errors.required">Le nombre de joueur est obligatoire</div>
        <div *ngIf="ageMin?.errors.min">L'age doit être de 1 an minimum</div>
        <div *ngIf="ageMin?.errors.max">L'age doit être de 16 ans maximum</div>
      </div>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="poids" class="p-col-fixed" style="width:100px">Poids</label>
    <div class="p-col">
      <input id="poids" type="number" pInputText formControlName="poids">
      <div *ngIf="poids.invalid && (poids.dirty || poids.touched)" class="ng-dirty ng-invalid">
        <div *ngIf="poids?.errors.required">Le poids est obligatoire</div>
        <div *ngIf="poids?.errors.min">Le poids doit être de 0.100 minimum</div>
        <div *ngIf="poids?.errors.max">Le poids doit être de 5.00 maximum</div>
      </div>
    </div>
  </div>
  <div class="p-field p-grid">
    <label for="duree" class="p-col-fixed" style="width:100px">Durée</label>
    <div class="p-col">
      <input id="duree" type="number" pInputText formControlName="duree">
      <div *ngIf="duree.invalid && (duree.dirty || duree.touched)" class="ng-dirty ng-invalid">
        <div *ngIf="duree.errors.required">La durée est obligatoire</div>
      </div>
    </div>
  </div>
</form>
<button [disabled]="!formulaire.valid" (click)="onSubmit()">Valide</button>

<div>
  valeur saisie : {{formulaire.value | json}}
</div>
<div>
  Formulaire valide : {{formulaire.valid}}
</div>






