<div>
  <h2>Détails du jeu {{game.nom}}</h2>
  <p-card header="{{game.nom}}" subheader="{{game.theme_id.nom}}">
    <ng-template pTemplate="header">
      <img alt="image {{game.nom}}" src="{{game.url_media}} " style="width: 300px;height: 300px">
    </ng-template>
    <p>
      {{game.description}}
    </p>
    <p>
      Règles :
      <br>
      {{game.regles}}
    </p>
    <ng-template pTemplate="body">
      Mécaniques :
      <ul>
        <li *ngFor="let meca of game.mecaniques">
          {{meca.nom}}
        </li>
      </ul>
      <p>
        Catégorie : {{game.categorie}}
        <br>
        Langue : {{game.langue}}
        <br>
        Poids : {{game.poids}}
        <br>
        Durée : {{game.duree}}
        <br>
        Nombre de joueurs : {{game.nombre_joueurs}}
        <br>
        Âge minimum des joueurs : {{game.age}}
        <br>
        <br>
        Édité par {{game.editeur_id.nom}}
      </p>
      <p>
        Commentaires :
      </p>
      <ul>
        <li *ngFor="let comment of game.commentaires">
          {{ comment.commentaire }}
          <br/>
          Note : {{comment.note}}/5
          <br/>
          Créé il y a {{timeFrom(comment.date_com)}} par {{comment.user.nom}}
          <br/>
        </li>
      </ul>
      <app-comment [id]="game.id"></app-comment>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button class="p-button-raised" label="Statistiques" icon="pi pi-chart-bar" (click)="displayStats()"></p-button>
      <p-dialog header="Statistiques du jeu {{game.nom}}" [(visible)]="displaySta" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false">
        <div>
          <p>
            Note moyenne : {{game.statistiques.noteMoyenne}}
            <br>
            Note maximale : {{game.statistiques.noteMax}}
            <br>
            Note minimale : {{game.statistiques.noteMin}}
            <br>
            Nombre de commentaires sur ce jeu : {{game.statistiques.nbCommentaires}}
            <br>
            Nombre total de commentaires : {{game.statistiques.nbCommentairesTotal}}
            <br>
            Classement du jeu dans son thème : {{game.statistiques.rang}}ème sur {{game.statistiques.nbJeuxTheme}}
          </p>
        </div>
      </p-dialog>
      <br>
      <br>
      <button pButton type="button" class="p-button-raised" label="Retour à la liste des jeux" icon="pi pi-undo"
              [routerLink]="['/games']"></button>
    </ng-template>
  </p-card>
</div>
