<button pButton label="Laisser un commentaire" icon="pi pi-pencil" *ngIf="authService.isLoggedIn$ | async" (click)="showModalDialog()"></button>

<p-dialog header="Laissez un commentaire" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="formulaireComment" (ngSubmit)="onSubmit()">
    <div class="p-field p-grid">
      <label for="avis" class="p-col-fixed" style="width:100px">Votre avis :</label>
      <div class="p-col">
        <textarea rows="3" cols="30" id="avis" type="text" pInputTextarea
                  formControlName="avis"></textarea>
        <div *ngIf="avis.invalid && (avis.dirty || avis.touched)" class="ng-dirty ng-invalid">
          <div *ngIf="avis?.errors.required">L'avis est obligatoire</div>
        </div>
      </div>
    </div>

    <div class="p-field p-grid">
      <label for="note" class="p-col-fixed" style="width:100px">Note (entre 1 et 5) :</label>
      <div class="p-col">
        <input id="note" type="text" pInputText formControlName="note">
        <div *ngIf="note.invalid && (note.dirty || note.touched)" class="ng-dirty ng-invalid">
          <div *ngIf="note?.errors.required">La note est obligatoire</div>
          <div *ngIf="note?.errors.min">La note doit être supérieure ou égale à 1</div>
          <div *ngIf="note?.errors.max">La note doit être inférieure ou égale à 5</div>
          <div *ngIf="note?.errors.pattern">La note doit être un chiffre compris entre 1 et 5</div>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button [disabled]="!formulaireComment.valid" (click)="onSubmit()">Laisser le commentaire</button>
  </ng-template>
</p-dialog>
